#{extends 'main.html' /} #{set title:'ab3' /}


<script type="text/javascript">

    $(function() {
        // ----------------------------------------------------------
        // Setup View Models

        var viewModel = {
            notes : ko.observableArray(),
            index : ko.observable(0),


            addViewNote : function (key, content) {
                var note = new NoteViewModel(key, content);
                viewModel.notes.push(note);
                viewModel[key] = note;

                this.selectNote(key, true);
            },

            createNewNote : function (content) {
                var key = ab3.addNote(content);
                this.addViewNote(key, content);
            },

            removeNote : function(key) {
                var idx = viewModel.index();
                var noteIndex = ab3.getIndex(key);
                var currentNoteKey = viewModel.currentNote().key;
                viewModel.notes.splice(noteIndex, 1);
                ab3.removeNote(key);

                if (this.notes().length < 1) {
                    this.createNewNote('');
                }
                
                if (currentNoteKey == key) {
                  this.selectNote(this.notes()[0].key, true);
                } else {
                  this.selectNote( currentNoteKey, true );
                }
            },

            selectNote : function(key, updateIndex) {
                if (!key) {
                    throw new Error('wtf: key == '+key);
                }
                this.deselectNotes();

                this.index(ab3.getIndex(key));

                if (updateIndex)
                    ab3.updateIndex(this.index());

                if (editor) {
                    editor.setValue(this.currentContent());
                    editor.clearHistory();
                }

                if (this.currentNote())
                this.currentNote().selected(true);
            },

            deselectNotes : function() {
                for (var idx in viewModel.notes()) {
                    viewModel.notes()[idx].selected(false);
                }
            },

            selectPreviousNote : function() {
                var idx = this.index() - 1;
                var noteViewModel = this.notes()[idx];
                if (!noteViewModel) noteViewModel = this.notes()[this.notes().length-1];
                if (noteViewModel) this.selectNote( noteViewModel.key );
            },

            selectNextNote : function() {
                var idx = this.index() + 1;
                var noteViewModel = this.notes()[idx];
                if (!noteViewModel) noteViewModel = this.notes()[0];
                if (noteViewModel) this.selectNote( noteViewModel.key );
            },

            updateContentFromEditor: function(editor) {
                editor.save();
                viewModel.currentContent(editor.getValue());
            },

            // -------------------------------
            // Event Handlers

            focusInEditor: function(e) {
                if (editor) editor.focus();
            },

            saveCurrentDocument: function(e) {
                this.currentNote().save();
            },

            publishCurrentDocument: function(e) {
                publishCurrentNote();
            },

            addNoteHandler : function(e) {
                this.createNewNote('');
            },
            
            keydownHandler: function(e) {
                var usingShortcut = (e.ctrlKey && !ab3.isMac) || (e.metaKey && ab3.isMac && !e.ctrlKey);

                if (!usingShortcut) {
                    return true;
                }

                 if (e.which == 188) {
                    this.selectPreviousNote();
                    return false;
                 }

                if (e.which == 190) {
                    this.selectNextNote();
                    return false;
                }

                if (e.which == 83) {
                    this.currentNote().save();
                    return false;
                }

                if (e.which == 84) {
                    viewModel.createNewNote('');
                    return false;
                }

                if (e.which >= 48 && e.which < 57) {
                    var idx = e.which == 48 ? 10 : e.which - 49;
                    var noteViewModel = this.notes()[idx];
                    if (noteViewModel) this.selectNote( noteViewModel.key() );
                    return false;
                }

                return true;
            }

        };

        // Dependent observables cannot be declared inline
        viewModel.currentNote = ko.dependentObservable(function() {
            return this.notes()[ this.index() ];
        }, viewModel);

        viewModel.maxIndex = ko.dependentObservable(function() {
            return this.notes().length;
        }, viewModel);

        viewModel.title = ko.dependentObservable(function() {
            return (this.currentNote() ? ab3.preview(this.currentNote().content(), true) : "ab3");
        }, viewModel);

        viewModel.unescapedTitle = ko.dependentObservable(function() {
             return (this.currentNote() ? ab3.preview(this.currentNote().content(), false) : "ab3");
        }, viewModel);

        viewModel.currentContent = ko.dependentObservable({
            read: function() {
                if (!this.currentNote()) return "no content";
                return this.currentNote().content();
            },
            write: function(value) {
                var oldValue = this.currentNote().content();

                if (oldValue != value) {
                    this.currentNote().content(value);
                    this.currentNote().isDirty(true);
                }

            },
            owner: viewModel
        });

        // ----------------------------------------------------------
        // Constructor to create Note View Models

        var NoteViewModel = function(key, content) {
            this.key = key;
            this.content = ko.observable(content);
            this.isDirty = ko.observable(false);
            this.selected = ko.observable(false);
            this.hovering = ko.observable(false);
            this.removeHovered = ko.observable(false);

            this.title = ko.dependentObservable(function() {
                return (this.isDirty() ? '* ' : '') + ab3.preview(this.content());
            }, this)



            this.save = function() {
                ab3.saveNote(viewModel.currentNote().key, viewModel.currentNote().content());
                ab3.notify("Saved");
                this.isDirty(false);
            }

            // -------------------------------
            // Event Handlers
            this.select = function(e) {
                viewModel.selectNote(this.key, true);
            };
            this.remove = function(e) {
                viewModel.removeNote(this.key);
            };
            this.hoverOnTab = function() {
                this.hovering(true);
            };
            this.hoverOffTab = function() {
                this.hovering(false);
            };
            this.hoverOnRemove = function() {
                this.removeHovered(true);
            };
            this.hoverOffRemove = function() {
                this.removeHovered(false);
            };

        };


        // Helper functions
        var publishCurrentNote = function() {
            var form = $('<form action="@{application.publishNote()}" method="post"><input type="hidden" name="content" value="' + viewModel.currentNote().content() + '"/> </form>');
            $('body').append(form);
            form.submit();
        };


        // Custom binding handler for adding hover classes through knockouts binding syntax.
        // Yeah I should be using tag:hover in css instead.
        ko.bindingHandlers.cssHover = {
              init: function(element, valueAccessor, allBindingsAccessor) {
                  var options = ko.utils.unwrapObservable(valueAccessor()),
                      classOn = ko.utils.unwrapObservable(options.on),
                      classOff = ko.utils.unwrapObservable(options.off);

                  $(element).hover(
                          function() { $(this).removeClass(classOff).addClass(classOn); },
                          function() { $(this).removeClass(classOn).addClass(classOff); });
            }
        };


        // Initialize the ab3 api
        ab3.init();


        // Initialize Note View Models from Data
        var noteKeys = ab3.getNoteKeys();
        var activeKey = ab3.getActiveKey();
        
        for (var i in noteKeys) {
            var content = ab3.loadNote(noteKeys[i]);
            viewModel.addViewNote(noteKeys[i], content);
        }

        // Apply Knockout Bindings to Head and Body
        ko.applyBindings(viewModel, window.document.body);
        ko.applyBindings(viewModel, window.document.head);

        viewModel.selectNote( activeKey );

        
        // Create the CodeMirror text editor
        var editor = CodeMirror.fromTextArea(document.getElementById("editorArea"), {
            lineNumbers: false,
            matchBrackets: true,
            mode: "text/plain",
            onChange: function(editor) {
                viewModel.updateContentFromEditor(editor);
            }
        });

        editor.focus();

        // Enable twipsy hover texts
        $('.twisp').twipsy({delayOut:0, delayIn:0, live:true});
    });
</script>

<ul id="noteList" data-bind="template: { name: 'noteTabTemplate', foreach: notes }">
    <li class="add-note-tool note-tab" data-bind="click: addNoteHandler"><span class="icon-plus">&nbsp;</span></li>
</ul>

<div class="paper">
    <textarea id="editorArea" data-bind="value: currentContent"></textarea>
    <div class="tools">
        <div class="tools-left">
		    <a class="twisp icon-save" href="#save" title="Save in local storage" data-bind="click: saveCurrentDocument, cssHover: { on: 'icon-save-hover', off: 'icon-save'} ">&nbsp;</a>
        </div>
        <div class="tools-right">
            <a class="twisp icon-publish" href="#publish" title="Publish this note on the interwebs" data-bind="click: publishCurrentDocument, cssHover: { on: 'icon-publish-hover', off: 'icon-publish'}">&nbsp;</a>
        </div>
    </div>
</div>

<script id="noteTabTemplate" type="text/html">
    <li class="note-tab" data-bind="click: select, event: { mouseover: hoverOnTab, mouseleave: hoverOffTab }, css: { 'note-selected-tab' : selected() } ">
        <span class="note-tab-title" data-bind="html: title">Doc</span>
        <span class="remove-note-tool icon-x" data-bind="click: remove, style: { visibility: hovering() ? 'visible' : 'hidden'}, cssHover: { on : 'icon-x-hover', off: 'icon-x' }">&nbsp;</span>
    </li>
</script>


